@model IEnumerable<DentalClinic.Models.FeeType>

<div class="card">
    <div class="card-header">
        <span class="h4 font-weight-light">Service Type List</span>
        <button onclick="NewFeeType();" class="btn btn-success btn-sm float-right">
            <i class="fas fa-plus">
            </i> New Service Type
        </button>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th hidden>ID</th>
                    <th>NAME</th>
                    <th>OPTIONS</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.FeeTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <span class="pr-1"><a href="#" onclick="getFeeTypeID();" class="text-success"><i class="fas fa-edit"></i>  </a></span>
                            <span class="pl-1"><a asp-action="Delete" asp-route-id="@item.FeeTypeId" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fas fa-trash"></i>  </a></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div id='FeeTypeModal' class='modal fade'>
    <div class="modal-dialog modal-sm" style="width: 100%;">
        <div class="modal-content">
            <div id='FeeTypeModalContent'>

            </div>
        </div>
    </div>
</div>

<script>

    function getFeeTypeID() {
        var table = document.getElementsByTagName("table")[0], Index;
        for (var i = 1; i < table.rows.length; i++) {
            table.rows[i].cells[2].onclick = function () {
                Index = this.parentElement.rowIndex;
                NewFeeType(table.rows[Index].cells[0].innerHTML);
            };
        }
    }

    function NewFeeType(id=0) {
        var options = { "backdrop": "static", keyboard: true };

        $.ajax({

            url: '@Url.Action("NewFeeType", "FeeTypes")',
            type: 'get',
            async: false,
            contentType: "application/json; charset=utf-8",
            data: {id:id},//scgid: $("#hiddenSessionClassGroupID").val() },
            datatype: "json",

            success: function (data) {
                //debugger;
                $('#FeeTypeModalContent').html(data);
                $('#FeeTypeModal').modal(options);
                $('#FeeTypeModal').modal('show');
                $.validator.unobtrusive.parse("#FeeTypeForm");

                $('#FeeTypeModal').on('shown.bs.modal', function () {
                    $('#name').focus();
                })
                return false;
            },

            error: function () {
                alert("Dynamic content load failed.");
                return false;
            }
        });
    }

      $(document).ready(function () {
        var table = $('#table').DataTable({
            dom: 'Bfrtip',
            lengthChange: false,
            buttons: ['copy', 'csv', 'excel', 'pdf', 'colvis', 'print']
        });

        table.buttons().container()
            .appendTo('#example_wrapper .col-md-6:eq(0)');
    });

</script>