@model DentalClinic.Models.PatientRegisterationPayment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="font-weight-light">Add/Edit</h1>

<h4 class="font-weight-light">PatientRegisterationPayment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientRegisterationPaymentId" />
            <div class="form-group">
                <label asp-for="DrugTotal" class="control-label"></label>
                <input asp-for="DrugTotal" class="form-control" />
                <span asp-validation-for="DrugTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeeTotal" class="control-label"></label>
                <input asp-for="FeeTotal" class="form-control" />
                <span asp-validation-for="FeeTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payed" class="control-label"></label>
                <input asp-for="Payed" class="form-control" />
                <span asp-validation-for="Payed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientRegisterationCheckId" class="control-label"></label>
                <select asp-for="PatientRegisterationCheckId" class="form-control" asp-items="ViewBag.PatientRegisterationCheckId"></select>
                <span asp-validation-for="PatientRegisterationCheckId" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col col-md-6">
                    <input type="submit" value="Save" class="btn btn-info btn-block" />
                </div>
                <div class="form-group col col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fas fa-table"></i> Back to List</a>
                </div>
            </div>
            
        </form>
    </div>
</div>


