@model IEnumerable<DentalClinic.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <span class="h4 font-weight-light">Company List</span>
        <button onclick="NewCompany();" class="btn btn-success btn-sm float-right">
            <i class="fas fa-plus">
            </i> New company
        </button>
    </div>
    <div class="card-body ">
        <table class="table table-bordered table-hover" id="table" width="100%" cellspacing="0">
            <thead >
                <tr>
                    <th hidden>ID</th>
                    <th>NAME</th>
                    <th>OPTIONS</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr >
                            <td hidden>@item.CompanyId</td>
                            <td>@item.Name</td>
                            <td>
                                <span class="pr-1"><a href="#" onclick="getCompanyID();" class="text-success"><i class="fas fa-edit"></i>  </a></span>
                                <span class="pl-1"><a href="#" class="text-danger ml-1" onclick="getCompanyIdForDelete();"><i class="fas fa-trash"></i>  </a></span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div id='CompanyModal' class='modal fade'>
    <div class="modal-dialog modal-sm" style="width: 100%;">
        <div class="modal-content">
            <div id='CompanyModalContent'>

            </div>
        </div>
    </div>
</div>

<script>

    function getCompanyID() {
        var table = document.getElementsByTagName("table")[0], Index;
        for (var i = 1; i < table.rows.length; i++) {
            table.rows[i].cells[2].onclick = function () {
                Index = this.parentElement.rowIndex;
                NewCompany(table.rows[Index].cells[0].innerHTML);
            };
        }
    }

    function getCompanyIdForDelete() {
        var table = document.getElementsByTagName("table")[0], Index;
        for (var i = 1; i < table.rows.length; i++) {
            table.rows[i].cells[2].onclick = function () {
                Index = this.parentElement.rowIndex;
                DeleteCompany(table.rows[Index].cells[0].innerHTML);
            };
        }
    }

    function NewCompany(id = 0) {
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({

            url: '@Url.Action("NewCompany", "Companies")',
            type: 'get',
            async: false,
            contentType: "application/json; charset=utf-8",
            data: { id: id },//scgid: $("#hiddenSessionClassGroupID").val() },
            datatype: "json",

            success: function (data) {
                //debugger;
                $('#CompanyModalContent').html(data);
                $('#CompanyModal').modal(options);
                $('#CompanyModal').modal('show');
                $.validator.unobtrusive.parse("#CompanyForm"); // for binding Company form 

                $('#CompanyModal').on('shown.bs.modal', function () {
                    $('#name').focus();
                })
                return false;
            },

            error: function () {
                alert("Dynamic content load failed.");
                return false;
            }
        });
    }

     function DeleteCompany(id) {
         if (confirm("Are you sure you want to Delete the seled Company?")) {
             $.ajax({
                 type: "POST",
                 async: true,
                 url: '@Url.Action("Delete", "Companies")',
                 data: { id: id },
                 //contentType: "application/json; charset=utf-8",
                 dataType: "html",
                 success: function (data) {
                     location.href = '/Companies';
                 },
                 error: function (xhr) { alert("Error"); }

             });
         }
    }

    $(document).ready(function () {
        var table = $('#table').DataTable({
            dom: 'Bfrtip',
            lengthChange: false,
            buttons: ['copy', 'csv', 'excel', 'pdf', 'colvis', 'print']
        });

        table.buttons().container()
            .appendTo('#example_wrapper .col-md-6:eq(0)');
    });

</script>