

    <div class="card">
        <div class="card-header">
            Add Service
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col col-12">
                    <label> Service Type:</label>
                    @*<input type="text" class="form-control" id="FeeTypeID" placeholder="Search" />*@
                    <select class="form-control" style="width:100%;" id="feeType"></select>
                </div>
                <div class="form-group col col-12">
                    <label><span class="glyphicon glyphicon-eye-open"></span> Service:</label>
                    <input type="text" class="form-control" id="FeeElementID" placeholder="Search" />
                </div>
            </div>
        </div>
        <div class="card-footer alert-light">
            <div class="row">
                <div class="col col-2 p-1">
                    <button class="btn btn-primary btn-sm btn-block" onclick="AddTable5Row();"> Add</button>
                </div>
            </div>
        </div>
    </div>           
        
    <script>

    $("#feeType").select2({
        ajax: {
            url: '@Url.Action("AutoCompleteFeeTypeSelect", "PatientRegisterations")',
            type: 'post',
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term
                    //page: params.page
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            text: item.label,
                            id: item.id,
                        }
                    })
                };
            },
            cache: true
        },
        placeholder: 'Search',
    });

    </script>