

    <div class="card">
        <div class="card-header">
            Teeth Treatment
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col col-6 pr-0">
                    <div class="col col-12 p-0">
                        <img src="~/lib/TeethPictures/UPER_LEFT.PNG" />
                    </div>
                    <div class="col col-12 p-0 ml-2">
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="1" style="margin-right:-1px;margin-left:-1px;" id="1" onclick="SelectTeeth('#1')">18</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="2" style="margin-right:-1px;margin-left:-1px;" id="2" onclick="SelectTeeth('#2')">17</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="3" style="margin-right:-1px;margin-left:-1px;" id="3" onclick="SelectTeeth('#3')">16</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="4" style="margin-right:-1px;margin-left:-1px;" id="4" onclick="SelectTeeth('#4')">15</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="5" style="margin-right:-1px;margin-left:-1px;" id="5" onclick="SelectTeeth('#5')">14</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="6" style="margin-right:-1px;margin-left:-1px;" id="6" onclick="SelectTeeth('#6')">13</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="7" style="margin-right:-1px;margin-left:-1px;" id="7" onclick="SelectTeeth('#7')">12</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="8" style="margin-right:-1px;margin-left:-1px;" id="8" onclick="SelectTeeth('#8')">11</button>
                    </div>
                    <div class="col col-12 p-0 mt-2 ml-2">
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="9" style="margin-right:-1px;margin-left:-1px;" id="9" onclick="SelectTeeth('#9')">41</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="10" style="margin-right:-1px;margin-left:-1px;" id="10" onclick="SelectTeeth('#10')">42</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="11" style="margin-right:-1px;margin-left:-1px;" id="11" onclick="SelectTeeth('#11')">43</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="12" style="margin-right:-1px;margin-left:-1px;" id="12" onclick="SelectTeeth('#12')">44</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="13" style="margin-right:-1px;margin-left:-1px;" id="13" onclick="SelectTeeth('#13')">45</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="14" style="margin-right:-1px;margin-left:-1px;" id="14" onclick="SelectTeeth('#14')">46</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="15" style="margin-right:-1px;margin-left:-1px;" id="15" onclick="SelectTeeth('#15')">47</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="16" style="margin-right:-1px;margin-left:-1px;" id="16" onclick="SelectTeeth('#16')">48</button>
                    </div>
                    <div class="col col-12 p-0"  style="margin-top:2px;">
                        <img src="~/lib/TeethPictures/LOWER_LEFT.PNG" />
                    </div>
                </div>
                <div class="form-group col col-6 pl-0 border-left border-secondary ">
                    <div class="col col-12 p-0" style="margin-top:6px;">
                        <img src="~/lib/TeethPictures/UPER_RIGHT.PNG" />
                    </div>
                    <div class="col col-12 p-0">
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="17" style="margin-right:-1px;margin-left:3px;" id="17" onclick="SelectTeeth('#17')">21</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="18" style="margin-right:-1px;margin-left:-1px;" id="18" onclick="SelectTeeth('#18')">22</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="19" style="margin-right:-1px;margin-left:-1px;" id="19" onclick="SelectTeeth('#19')">23</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="20" style="margin-right:-1px;margin-left:-1px;" id="20" onclick="SelectTeeth('#20')">24</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="21" style="margin-right:-1px;margin-left:-1px;" id="21" onclick="SelectTeeth('#21')">25</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="22" style="margin-right:-1px;margin-left:-1px;" id="22" onclick="SelectTeeth('#22')">26</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="23" style="margin-right:-1px;margin-left:-1px;" id="23" onclick="SelectTeeth('#23')">27</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="24" style="margin-right:-1px;margin-left:-1px;" id="24" onclick="SelectTeeth('#24')">28</button>
                    </div>
                    <div class="col col-12 p-0 mt-2">
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="25" style="margin-right:-1px;margin-left:3px;" id="25" onclick="SelectTeeth('#25')">31</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="26" style="margin-right:-1px;margin-left:-1px;" id="26" onclick="SelectTeeth('#26')">32</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="27" style="margin-right:-1px;margin-left:-1px;" id="27" onclick="SelectTeeth('#27')">33</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="28" style="margin-right:-1px;margin-left:-1px;" id="28" onclick="SelectTeeth('#28')">34</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="29" style="margin-right:-1px;margin-left:-1px;" id="29" onclick="SelectTeeth('#29')">35</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="30" style="margin-right:-1px;margin-left:-1px;" id="30" onclick="SelectTeeth('#30')">36</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="31" style="margin-right:-1px;margin-left:-1px;" id="31" onclick="SelectTeeth('#31')">37</button>
                        <button class="btn btn-sm btn-light p-0 pr-1 pl-1" value="32" style="margin-right:-1px;margin-left:-1px;" id="32" onclick="SelectTeeth('#32')">38</button>
                    </div>
                    <div class="col col-12 p-0" style="margin-top:2px;">
                        <img src="~/lib/TeethPictures/lOWER_RIGHT.PNG" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <input class="form-control" placeholder="Notes" id="note"/>
                </div>
                <div class="col col-2 p-0 mt-3">
                    <button class="btn btn-primary btn-sm ml-3" onclick=" AddTable2Row();"> Add</button>
                </div>
            </div>
        </div>
    </div>           
        